# ================================================
# Conexao com o banco Oracle
# ================================================

ORACLE_DB_CONNECT_STRING=
ORACLE_DB_USER=
ORACLE_DB_PWD=


# ================================================
# Monitoramento pelo Sentry
# ================================================

SENTRY_DSN_LIBRA_API=
SENTRY_ENVIRONMENT_LIBRA_API=
SENTRY_LOG_LEVEL_LIBRA_API=


# ================================================
# Integracao com o Supervisor
# ================================================

SUPERVISOR_PATH=
LIBRA_API_PATH=


# ================================================
# Seguranca da API
# ================================================

LIBRA_API_KEY=
API_CERT_PWD=